{% extends 'base.html.twig' %}

{% block title %}Edit Player{% endblock %}


 {% block main %}

     {{ form_start(edit_form) }}

     {{ form_row(edit_form.name) }}
     {{ form_row(edit_form.location) }}
     {{ form_row(edit_form.bio) }}
     {{ form_row(edit_form.hidePlayer) }}
     {{ form_row(edit_form.profilePicture) }}

     <img class="img-fluid" src="{{ asset(player.profilePicturePublicUrl) }}">

     <input class="btn btn-success btn-lg btn-block mt-3" type="submit" value="Save" />
     {{ form_end(edit_form) }}

 {% endblock %}



{% block sidebar %}
    <a class="my-2 btn btn-primary btn-lg btn-block" href="{{ path('player_show', { 'id': player.id }) }}">View Profile</a>

    {% include 'admin/_delete_modal.html.twig' with {'entity' : 'player', 'form' : delete_form } %}

    <a class="my-2 btn btn-primary btn-lg btn-block" href="{{ path('admin_player_index') }}">Back to the list</a>

{% endblock %}