{% extends 'base.html.twig' %}

{% block title %}Edit Player{% endblock %}


 {% block main %}

     {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}



     {{ form_start(edit_form) }}
     {{ form_widget(edit_form) }}
     {{ form_end(edit_form) }}


 {% endblock %}



{% block sidebar %}
    <a class="p-2 btn btn-primary btn-lg btn-block" href="{{ path('player_show', { 'id': player.id }) }}">View Profile</a>


    {{ form_start(delete_form) }}
    <input class="p-2 btn btn-danger btn-lg btn-block"  type="submit" value="Delete">
    {{ form_end(delete_form) }}

    <a class="p-2 btn btn-primary btn-lg btn-block" href="{{ path('admin_player_index') }}">Back to the list</a>

{% endblock %}
