{% extends 'base.html.twig' %}


    {% block title %}View Players{% endblock %}


    {% block main %}

        {% if players %}

        <table class="table table-striped text-center table-responsive-md">
            <thead>
            <tr>
                <th>Id</th>
                <th class="text-left">Name</th>
                <th class="text-left">Location</th>
                <th>League Player</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for player in players %}
                <tr>
                    <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                    <td class="text-left">{{ player.name }}</td>
                    <td class="text-left">{{ player.location }}</td>
                    <td>{% if player.leaguePlayer %}
                            <span class="oi oi-check"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('player_show', { 'id': player.id }) }}" role="button">Show</a>
                        <a class="btn btn-primary" href="{{ path('player_edit', { 'id': player.id }) }}" role="button">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="lead">No players have been created yet</p>
        {% endif %}

    {% endblock %}

    {% block sidebar %}
        <a class="p-2 btn btn-success btn-lg btn-block" role="button" href="{{ path('player_new') }}">Create a new player</a>

        <a class="p-2 btn btn-primary btn-lg btn-block" role="button" href="{{ path('admin') }}">Back to admin</a>

    {% endblock %}

