{% extends 'base.html.twig' %}


    {% block title %}Players list{% endblock %}


    {% block main %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Leagueplayer</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.location }}</td>
                    <td>{% if player.leaguePlayer %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('player_show', { 'id': player.id }) }}" role="button">Show</a>
                        <a class="btn btn-primary" href="{{ path('player_edit', { 'id': player.id }) }}" role="button">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block sidebar %}
        <a class="p-2 btn btn-success btn-lg btn-block" role="button" href="{{ path('player_new') }}">Create a new player</a>

        <a class="p-2 btn btn-primary btn-lg btn-block" role="button" href="{{ path('admin') }}">Back to admin</a>

    {% endblock %}

