<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}The Gambling Club Poker League{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block header %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">The Gambling Club Poker League</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Players</a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('player_index') }}">
                                    Edit Players
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('game_index') }}">
                                    Edit Game
                                </a>
                            </li>



                        {% endif %}


                    </ul>
                    <span class="navbar-text">

                        {% if app.user %}
                            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            <a class="nav-link"  href="{{ path('admin') }}">Login</a>
                        {% endif %}


                    </span>
                </div>
            </div>

        </nav>


    {% endblock %}

    <div class="container">
        {% block body %}{% endblock %}

    </div>



    {% block footer %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>{{ 'now'|date('Y') }} - The Gambling Club Poker League</p>
                        <p></p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Links to source?
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}


    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
