<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>{% block pageTitle %}The Gambling Club Poker League{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#093a38">
        <meta name="google" content="notranslate">
        <meta name="description" content="The Gambling Club, the finest gambling institution in the United Kingdom.">
        <meta http-equiv="Content-Language" content="en">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ preload(asset('build/css/app.css')) }}">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">

            <link href="{{ asset('assets/font/css/open-iconic-bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">

    </head>

    <body>
    {% block header %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">

            <div class="container">


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse heading-font" id="navbarNav">


                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                        </li>

                        <li class="nav-item {% if app.request.attributes.get('_route') == 'player_index' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('player_index') }}">Members</a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') in ['admin', 'admin_player_index', 'admin_game_index', 'admin_league_index'] %}active{% endif %}" href="{{ path('admin') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'admin' %}active{% endif %}" href="{{ path('admin') }}">Admin</a>
                                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'admin_player_index' %}active{% endif %}" href="{{ path('admin_player_index') }}">Edit Players</a>
                                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'admin_game_index' %}active{% endif %}" href="{{ path('admin_game_index') }}">Edit Games</a>
                                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'admin_league_index' %}active{% endif %}" href="{{ path('admin_league_index') }}">Edit Leagues</a>
                                </div>
                            </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://running.thegamblingclub.co.uk">Running Stats</a>
                        </li>
                    </ul>
                    <span class="">

                        {% if app.user %}

                            <a class="btn btn-outline-danger" role="button" href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            <a class="btn btn-outline-success" role="button" href="{{ path('admin') }}">Login</a>

                        {% endif %}
                    </span>
                </div>
            </div>

        </nav>


    {% endblock %}

    {% block jumbotron %}
    {% endblock %}

    <div class="container">


        {% block body %}


            <div class="row">
                <div class="col-12">
                    <h1 class="my-4">{% block title %}{% endblock %}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9">
                    {{ include('default/_flash_messages.html.twig') }}
                    {% block main %}

                    {% endblock %}
                </div>

                <div class="col-lg-3">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>

        {% endblock %}

    </div>



    {% block footer %}

        <footer class="footer mt-4 bg-dark text-white heading-font">
            <div class="container">
                <div class="row py-4">
                    <div class="col-sm-2 col-lg-2">
                        <p class="mb-0 text-sm-left">{{ 'now'|date('Y') }}</p>
                    </div>
                    <div class="col-sm-8 col-lg-5">
                        <p class="mb-0 text-sm-center">The Gambling Club Poker League</p>
                    </div>
                    <div class="col-sm-2 col-lg-2">
                        <p class="mb-0 text-sm-right"><a target="_blank" class="text-white" href="https://github.com/finchmeister/the-gambling-club-poker-league">Source</a></p>
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}


    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
