{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Gambling Club Poker League</h1>
    <a href="{{ path('admin') }}">Admin</a>

    <h2>League Table</h2>
    <table>
        <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Points</th>
            <th>Net</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jo</td>
            <td>35</td>
            <td>£200</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Steve</td>
            <td>30</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mike</td>
            <td>20</td>
        </tr>
    </table>




    <h2>Games</h2>

    {% for game in games %}

        <ul>
            <li>Host: {{ game.host }}</li>
            <li>League: {{ game.isLeague }}</li>
            <li>Date: {{ game.date|date("d/m/Y") }}</li>
            <li>Buy in: £{{ game.buyIn }}</li>
            {% if game.snacksProvider %}
                <li>Snacks: {{ game.snacks }} by {{ game.snacksProvider }}</li>
            {% endif %}
        </ul>

        <table>
            <tr>
                <th>Position</th>
                <th>Player</th>
                <th>Points</th>
                <th>Winnnigs</th>
                <th>Rebuys</th>
                <th>Net</th>
                <th>League Player</th>
            </tr>

            {# @var result \AppBundle\Entity\Result #}
            {% for result in game.results %}
            <tr>
                <td>{{ result.position }}</td>
                <td>{{ result.player }}</td>
                <td>{{ result.position }}</td>
                <td>£{{ result.winnings }}</td>
                <td>{{ result.noOfRebuys }}</td>
                <td>£{{ result.net }}</td>
                <td>{{ result.player.leaguePlayer }}</td>
            </tr>
            {% endfor %}

        </table>

        {% if game.spotifyPlaylistUri %}
            <iframe src="https://open.spotify.com/embed?uri={{ game.spotifyPlaylistUri }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        {% endif %}

        <hr>


    {% endfor %}


{% endblock %}

{% block stylesheets %}

{% endblock %}
