{% extends 'base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid main-banner">
        <div class="container">
            <div class="py-5"></div>
            <h1><span class="bg-primary text-white line-height-30">The Gambling Club Poker League</span></h1>
            <div class="py-5"></div>
        </div>
    </div>

{% endblock %}

{% block main %}

    <a href="https://running.thegamblingclub.co.uk">
    <div class="alert alert-warning mb-5 text-center" role="alert">
        <b>New!</b> Covid running stats from Strava
    </div>
    </a>

    <ul class="nav nav-pills nav-justified mb-4" id="myTab" role="tablist">

        <li class="nav-item">
            <a class="h5 mb-0 nav-link" id="allStats-tab" data-toggle="tab" href="#allStats" role="tab" aria-controls="allStats" aria-selected="false">
                All
            </a>
        </li>

        <li class="nav-item">
            <a class="h5 mb-0 nav-link active" id="onlineStats-tab" data-toggle="tab" href="#onlineStats" role="tab" aria-controls="onlineStats" aria-selected="false">
                Online
            </a>
        </li>

        <li class="nav-item">
            <a class="h5 mb-0 nav-link" id="leagueStats-tab-{{ leaguesData[0].league.id }}" data-toggle="tab" href="#leagueStats{{ leaguesData[0].league.id }}" role="tab" aria-controls="leagueStats{{ leaguesData[0].league.id }}" aria-selected="true">
                League {{ leaguesData[0].league.name }}
            </a>
        </li>

        <li class="h5 nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Past Leagues</a>
            <div class="dropdown-menu w-100">
                {% for leagueData in leaguesData %}
                    {% if not loop.first %}
                        <a class="dropdown-item mb-0" id="leagueStats-tab-{{ leagueData.league.id }}" data-toggle="tab" href="#leagueStats{{ leagueData.league.id }}" role="tab" aria-controls="leagueStats{{ leagueData.league.id }}" aria-selected="true">
                            League {{ leagueData.league.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </li>

    </ul>

    <hr>

    <div class="tab-content" id="myTabContent">

        {% for leagueData in leaguesData %}

            <div class="tab-pane fade show" id="leagueStats{{ leagueData.league.id }}" role="tabpanel" aria-labelledby="leagueStats-tab-{{ leagueData.league.id }}">
                {% if leagueData.leaguePlayersStats is not empty and leagueData.leaguePlayersTopStats is not empty %}

                    {% if leagueData.league.firstPlace %}
                        <div class="text-center">
                            <p class="h4 font-italic">Winner: {{ leagueData.league.firstPlace }} - {{ leagueData.league.firstPrize | price }}</p>
                            <p class="font-italic">Runner up: {{ leagueData.league.secondPlace }} - {{ leagueData.league.secondPrize | price }}</p>
                        </div>
                        <hr>
                    {% endif %}

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="top-tab{{ leagueData.league.id }}" role="tabpanel">
                            {% include 'partial/_all_stats_table.html.twig' with {playerStats : leagueData.leaguePlayersTopStats, 'isLeague' : true} %}
                        </div>
                        <div class="tab-pane fade" id="all-tab{{ leagueData.league.id }}" role="tabpanel">
                            {% include 'partial/_all_stats_table.html.twig' with {playerStats : leagueData.leaguePlayersStats, 'isLeague' : true} %}
                        </div>
                    </div>

                    {% if leagueData.league.buyin %}
                        <div class="text-muted font-italic">
                            Entry: {{ leagueData.league.buyIn | price }}
                        </div>
                    {% endif %}

                    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="top-tab{{ leagueData.league.id }}" data-toggle="pill" href="#top-tab{{ leagueData.league.id }}" role="tab" aria-controls="pills-home" aria-selected="true">Top {{ leagueData.noOfGamesAllPlayed }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="all-tab{{ leagueData.league.id }}" data-toggle="pill" href="#all-tab{{ leagueData.league.id }}" role="tab" aria-controls="pills-profile" aria-selected="false">All</a>
                        </li>
                    </ul>

                {% endif %}

                <hr class="my-4">

                <h2>Games</h2>

                {% include 'partial/_game.html.twig' with {'games' : leagueData.leagueGames} %}

            </div>

        {% endfor %}

        <div class="tab-pane fade show" id="allStats" role="tabpanel" aria-labelledby="allStats-tab">
            {% include 'partial/_all_stats_table.html.twig' with {'playerStats' : allPlayersStats}  %}

            <div class="row">
                <div class="col-3">
                    <div class="text-muted">Games Played</div>
                    <span class="h4">{{ overallStats.noOfGamesPlayed }}</span>
                </div>
                <div class="col-3">
                    <div class="text-muted">Cash won</div>
                    <span class="h4">{{ overallStats.cashWon|price }}</span>
                </div>

            </div>

            <hr class="my-4">

            <h2>Games</h2>

            {% include 'partial/_game.html.twig' with {'games' : allGames} %}
        </div>

        <div class="tab-pane fade show active" id="onlineStats" role="tabpanel" aria-labelledby="onlineStats-tab">
            {% include 'partial/_all_stats_table.html.twig' with {'playerStats' : onlinePlayersStats}  %}

            <div class="row">
                <div class="col-3">
                    <div class="text-muted">Games Played</div>
                    <span class="h4">{{ onlineOverallStats.noOfGamesPlayed }}</span>
                </div>
                <div class="col-3">
                    <div class="text-muted">Cash won</div>
                    <span class="h4">{{ onlineOverallStats.cashWon|price }}</span>
                </div>

            </div>

            <hr class="my-4">

            <h2>Games</h2>

            {% include 'partial/_game.html.twig' with {'games' : onlineGames} %}
        </div>
    </div>

{% endblock %}


