{% extends 'base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">The Gambling Club Poker League</h1>
        </div>
    </div>

{% endblock %}


{% block body %}






    {% include "partial/_league_table.html.twig" %}

    <hr class="my-4">

    <h2>Games</h2>

    {% for game in games %}

        <ul>
            <li>Host: {{ game.host }}</li>
            <li>League: {{ game.isLeague }}</li>
            <li>Date: {{ game.date|date("d/m/Y") }}</li>
            <li>Buy in: £{{ game.buyIn }}</li>
            {% if game.snacksProvider %}
                <li>Snacks: {{ game.snacks }} by {{ game.snacksProvider }}</li>
            {% endif %}
        </ul>

        <table class="table text-center table-striped">
            <thead class="">
            <tr>
                <th>#</th>
                <th class="text-left">Player</th>
                <th>Points</th>
                <th>Winnnigs</th>
                <th>Rebuys</th>
                <th>Net</th>
                <th>League Player</th>
            </tr>
            </thead>

            {# @var result \AppBundle\Entity\Result #}
            {% for result in game.results %}
            <tr>
                <td>{{ result.position }}</td>
                <td class="text-left">{{ result.player }}</td>
                <td>{{ result.leaguePoints|number_format(league_points_decimal_places) }}</td>
                <td>£{{ result.winnings|number_format(0) }}</td>
                <td>{{ result.noOfRebuys|number_format(0) }}</td>
                <td>£{{ result.net|number_format(0) }}</td>
                <td>{{ result.player.leaguePlayer }}</td>
            </tr>
            {% endfor %}

        </table>

        {% if game.spotifyPlaylistUri %}
            <iframe src="https://open.spotify.com/embed?uri={{ game.spotifyPlaylistUri }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        {% endif %}

        <hr>


    {% endfor %}


{% endblock %}


