{% extends 'base.html.twig' %}

{% block title %}The Gambling Club{% endblock %}

{% block main %}

    {% if players is empty %}
        <p class="lead">No players created yet</p>
    {% endif %}

{% for player in players %}

    <div class="row">
        <div class="col">
            <h2>{{ player.name }}</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-9">

            <p>{{ player.bio }}</p>
            <ul>
                <li>League Position:</li>
                <li>Games Won / Games Played: 3/15 : 20%</li>
                <li>Won / Bought In / Net: £300 / £50 / £250</li>
                <li>Av profit: </li>
            </ul>

            <a class="btn btn-primary" href="{{ path('player_show', { 'id': player.id }) }}">Go to Player Stats</a>
            <a class="btn btn-primary" href="{{ path('host_show', { 'id': player.id }) }}">Go to Host Stats</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('player_edit', { 'id': player.id }) }}" role="button">Edit Player</a>
            {% endif %}
        </div>
        <div class="col-sm-3">
            <img src="http://via.placeholder.com/350x350" class="img-fluid rounded">
        </div>


    </div>
    <div class="row">
        <div class="col">
            <hr class="my-4">
        </div>
    </div>




{% endfor %}

{% endblock %}


