{% extends 'base.html.twig' %}

{% block title %}{{ player.name }}{% endblock %}

{% block main %}



    <div class="row">
        <div class="col-sm-9">

            <p>{{ player.bio }}</p>

            <h2 class="my-4">Stats</h2>

            <div class="row">
                <div class="col-6">
                    <p class="lead">Won</p>
                    <h1 class="display-3 {{ player.playerStats.sumCashWon > 0 ? 'text-success' }}">{{ player.playerStats.sumCashWon|price }}</h1>
                </div>

                <div class="col-6">
                    <p class="lead">Bought-In</p>
                    <h1 class="display-3 {{ player.playerStats.sumBoughtIn > 0 ? 'text-danger' }}">{{ player.playerStats.sumBoughtIn|price }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="lead">Net</p>
                    <h1 class="display-3 text-{{ player.playerStats.net > 0 ? 'success' : 'danger' }}">{{ player.playerStats.net|price }}</h1>
                </div>

                <div class="col-6">
                    <p class="lead">No. of Rebuys</p>
                    <h1 class="display-3">{{ player.playerStats.sumRebuys }}</h1>
                </div>
            </div>

            <div class="row">
                <hr class="my-4">
            </div>

            <div class="row">
                <div class="col">
                    <p class="lead">Form</p>
                    <h1 class="display-3">{{ player.playerStats.form|join(', ') }}</h1>
                </div>
            </div>

            <div class="row">
                <hr class="my-4">
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="lead">No. of Games Won</p>
                    <h1 class="display-3">{{ player.playerStats.countGamesWon }}</h1>
                </div>

                <div class="col-6">
                    <p class="lead">No. of Games Played</p>
                    <h1 class="display-3">{{ player.playerStats.countGamesPlayed }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="lead">Win %</p>
                    <h1 class="display-3 ">{{ player.playerStats.winRatio|percent }}</h1>
                </div>
            </div>

            <div class="row">
                <hr class="my-4">
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="lead">No. of Games Paid</p>
                    <h1 class="display-3">{{ player.playerStats.countGamesPaid }}</h1>
                </div>

                <div class="col-6">
                    <p class="lead">Paid %</p>
                    <h1 class="display-3">{{ player.playerStats.gamesPaidRatio|percent }}</h1>
                </div>
            </div>


            <div class="row">
                <hr class="my-4">
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="lead">Average Net</p>
                    <h1 class="display-3 text-{{ player.playerStats.meanNet > 0 ? 'success' : 'danger' }}">{{ player.playerStats.meanNet|price }}</h1>
                </div>

                <div class="col-6">
                    <p class="lead">Average Position</p>
                    <h1 class="display-3">{{ player.playerStats.meanPosition|number_format(2) }}</h1>
                </div>
            </div>

            <div class="row">
                <hr class="my-4">
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="lead">Biggest Win</p>
                    <h1 class="display-3 {{ player.playerStats.maxCashWin > 0 ? 'text-success' }}">{{ player.playerStats.maxCashWin|price }}</h1>
                </div>

                <div class="col-6">
                    <p class="lead">Highest Position</p>
                    <h1 class="display-3">{{ player.playerStats.bestPosition }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="lead">Biggest Net</p>
                    <h1 class="display-3 {{ player.playerStats.maxProfit > 0 ? 'text-success' }}">{{ player.playerStats.maxProfit|price }}</h1>
                </div>

                <div class="col-6">
                    <p class="lead">Worst Net</p>
                    <h1 class="display-3 {{ player.playerStats.minProfit < 0 ? 'text-danger' }}">{{ player.playerStats.minProfit|price }}</h1>
                </div>
            </div>

            <div class="row">
                <hr class="my-4">
            </div>

        </div>
        <div class="col-sm-3">
            <img src="{{ player.profilePicturePublicUrl ?: 'http://via.placeholder.com/350x350' }}" class="img-fluid rounded">
        </div>


    </div>
    <div class="row">
        <div class="col">
            <hr class="my-4">
        </div>
    </div>


    {#TODO: charts in grid
    <ul>
        <li>Line: Position over time</li>
        <li>Bar: Win / Bought / Lost</li>
        <li>Pie: Win</li>
    </ul>#}

    <div class="row">
        <div class="col-sm-6 py-2">
            <p class="lead">Win / Bought-In / Net</p>
            <canvas id="winLoseNetBarChart" width="400" height="400"></canvas>

        </div>
        <div class="col-sm-6 py-2">
            <p class="lead">Win / Lose</p>
            <canvas id="winLosePieChart" width="400" height="400"></canvas>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 py-2">
            <p class="lead">Score Over Time</p>
            <canvas id="scoreAgainstTimeLineChart" width="400" height="400"></canvas>

        </div>
        <div class="col-sm-6 py-2">
            <p class="lead">Paid / Not-paid</p>
            <canvas id="paidPieChart" width="400" height="400"></canvas>

        </div>
    </div>


    <div class="row mt-3">

        <div class="col">

            <h2 class="my-4">Games</h2>

            {% include 'partial/_game.html.twig' with {'games' : playersGames} %}

        </div>
    </div>


{% endblock %}

{% block sidebar %}

    <a class="btn btn-primary btn-lg btn-block" href="{{ path('host_show', { 'id': player.id }) }}" role="button">Go to Host Stats</a>


    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-lg btn-block" href="{{ path('player_edit', { 'id': player.id }) }}" role="button">Edit</a>
    {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/vendor/chartjs/Chart.bundle.min.js') }}"></script>


    <script>
        new Chart(document.getElementById("winLoseNetBarChart"), {
            type: 'bar',
            data: {
                labels: ["Winnings", "Bought-In", "Net"],
                datasets: [{
                    label: '£',
                    data: [{{ player.playerStats.sumCashWon }}, -{{ player.playerStats.sumBoughtIn }}, {{ player.playerStats.net }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById("winLosePieChart"), {
            type: 'pie',
            data: {
                labels: ["Won", "Not Won"],
                datasets: [{
                    data: [{{ player.playerStats.countGamesWon }}, {{ player.playerStats.countGamesPlayed - player.playerStats.countGamesWon }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });
        new Chart(document.getElementById("paidPieChart"), {
            type: 'pie',
            data: {
                labels: ["Paid", "Not Paid"],
                datasets: [{
                    data: [{{ player.playerStats.countGamesPaid }}, {{ player.playerStats.countGamesPlayed - player.playerStats.countGamesPaid }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        new Chart(document.getElementById("scoreAgainstTimeLineChart"), {
            type: 'line',
            data: {
                labels: ["1", "2", "3", "4", "5", "6"],
                labels: [{% for e in  player.playerStats.form %}"{{ loop.index }}", {% endfor %}],
                datasets: [{
                    label: "Score",
                    data: [{{ player.playerStats.form|join(', ') }}],
                    fill: false,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1,
                    lineTension: 0
                }],
                options: {}

            }
        });


    </script>

{% endblock %}