{% extends 'base.html.twig' %}

{% block title %}{{ player.name }}{% endblock %}

{% block main %}



    <div class="row">
        <div class="col-sm-9">

            <p>{{ player.bio }}</p>
            <ul>
                <li>League Position: //TODO</li>
                <li>Games Won / Games Played: {{ allPlayerStats.gamesWon }}/{{ allPlayerStats.gamesPlayed }} : {{ (allPlayerStats.winRatio*100)|number_format(2) }}%</li>
                <li>Won / Bought In / Net: £{{ allPlayerStats.cashWon }} / £{{ allPlayerStats.boughtIn }} / £{{ allPlayerStats.net }}</li>
                <li>No of Rebuys: {{ allPlayerStats.noOfRebuys }}</li>
                <li>Games Paid / Games Played: {{ allPlayerStats.gamesPaid }}/{{ allPlayerStats.gamesPlayed }} : {{ (allPlayerStats.paidRatio*100)|number_format(2) }}%</li>
                <li>Average Win: £{{ allPlayerStats.averageWin|number_format(2) }}</li>
                <li>Average Spend: £{{ allPlayerStats.averageLoss|number_format(2) }}</li>
                <li>Average Profit: £{{ allPlayerStats.averageProfit|number_format(2) }}</li>
                <li>Average Position: {{ allPlayerStats.averagePosition|number_format(2) }}</li>
                <li>Most Common Position: {{ allPlayerStats.mostCommonPosition }}</li>
                <li>Middle Position: {{ allPlayerStats.middlePosition }}</li>
                <li>Average Position: {{ allPlayerStats.averagePosition|number_format(2) }}</li>
                <li>Form: {{ allPlayerStats.form|join(', ') }}</li>
                <li>Highest Position: {{ allPlayerStats.highestPosition }}</li>
                <li>Biggest Win: {{ allPlayerStats.biggestWin }}</li>
                <li>Biggest Spend: {{ allPlayerStats.biggestLoss }}</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <img src="{{ player.profilePicturePublicUrl ?: 'http://via.placeholder.com/350x350' }}" class="img-fluid rounded">
        </div>


    </div>
    <div class="row">
        <div class="col">
            <hr class="my-4">
        </div>
    </div>


    TODO: charts in grid
    <ul>
        <li>Line: Position over time</li>
        <li>Bar: Win / Bought / Lost</li>
        <li>Pie: Win</li>
    </ul>

    <div class="row">
        <div class="col-sm-6">
            <canvas id="winLoseNetBarChart" width="400" height="400"></canvas>

        </div>
        <div class="col-sm-6">
            <canvas id="winLosePieChart" width="400" height="400"></canvas>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <canvas id="scoreAgainstTimeLineChart" width="400" height="400"></canvas>

        </div>
        <div class="col-sm-6">
            <canvas id="paidPieChart" width="400" height="400"></canvas>

        </div>
    </div>



{% endblock %}

{% block sidebar %}

    <a class="btn btn-primary btn-lg btn-block" href="{{ path('host_show', { 'id': player.id }) }}" role="button">Go to Host Stats</a>


    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-lg btn-block" href="{{ path('player_edit', { 'id': player.id }) }}" role="button">Edit</a>
    {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/vendor/chartjs/Chart.bundle.min.js') }}"></script>


    <script>
        new Chart(document.getElementById("winLoseNetBarChart"), {
            type: 'bar',
            data: {
                labels: ["Winnings", "Bought In", "Net"],
                datasets: [{
                    label: '£',
                    data: [{{ allPlayerStats.cashWon }}, {{ allPlayerStats.boughtIn }}, {{ allPlayerStats.net }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById("winLosePieChart"), {
            type: 'pie',
            data: {
                labels: ["Won", "Not Won"],
                datasets: [{
                    data: [{{ allPlayerStats.gamesWon }}, {{ allPlayerStats.gamesNotWon }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });
        new Chart(document.getElementById("paidPieChart"), {
            type: 'pie',
            data: {
                labels: ["Paid", "Not Paid"],
                datasets: [{
                    data: [{{ allPlayerStats.gamesPaid }}, {{ allPlayerStats.gamesNotPaid }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        new Chart(document.getElementById("scoreAgainstTimeLineChart"), {
            type: 'line',
            data: {
                labels: ["1", "2", "3", "4", "5", "6"],
                labels: [{% for e in allPlayerStats.form %}"{{ loop.index }}", {% endfor %}],
                datasets: [{
                    label: "Score",
                    data: [{{ allPlayerStats.form|join(', ') }}],
                    fill: false,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1,
                    lineTension: 0
                }],
                options: {}

            }
        });


    </script>

{% endblock %}