{% extends 'base.html.twig' %}

{% block title %}{{ player.name }}{% endblock %}

{% block main %}



    <div class="row">
        <div class="col-sm-9">

            <p>{{ player.bio }}</p>

            <h2 class="my-4">Stats</h2>

            <div>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">Won</th>
                        <th scope="col">Played</th>
                        <th scope="col">Win %</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ player.playerStats.countGamesWon }}</td>
                        <td>{{ player.playerStats.countGamesPlayed }}</td>
                        <td>{{ (player.playerStats.winRatio * 100)|number_format(2) }}%</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">£ Won</th>
                        <th scope="col">Bought-In</th>
                        <th scope="col">Net</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ player.playerStats.sumCashWon|price }}</td>
                        <td>{{ player.playerStats.sumBoughtIn|price }}</td>
                        <td>{{ player.playerStats.net|price }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>



            <ul>
                <li>League Position: //TODO</li>
                <li>No of Rebuys: {{ player.playerStats.sumRebuys }}</li>
                <li>Games Paid / Games Played: {{ player.playerStats.countGamesPaid }}/{{ player.playerStats.countGamesPlayed }} : {{ player.playerStats.gamesPaidRatio|percent }}</li>
                <li>Average Net: {{ player.playerStats.meanNet|price }}</li>
                <li>Average Position: {{ player.playerStats.meanPosition|number_format(2) }}</li>
                <li>Form: {{ player.playerStats.form|join(', ') }}</li>
                <li>Highest Position: {{ player.playerStats.bestPosition }}</li>
                <li>Biggest Win: {{ player.playerStats.maxCashWin|price }}</li>
                <li>Biggest Net: {{ player.playerStats.maxProfit|price }}</li>
                <li>Worst Net: {{ player.playerStats.minProfit|price }}</li>
                <li>Biggest Spend: {{ player.playerStats.maxBoughtIn|price }}</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <img src="{{ player.profilePicturePublicUrl ?: 'http://via.placeholder.com/350x350' }}" class="img-fluid rounded">
        </div>


    </div>
    <div class="row">
        <div class="col">
            <hr class="my-4">
        </div>
    </div>


    TODO: charts in grid
    <ul>
        <li>Line: Position over time</li>
        <li>Bar: Win / Bought / Lost</li>
        <li>Pie: Win</li>
    </ul>

    <div class="row">
        <div class="col-sm-6">
            <canvas id="winLoseNetBarChart" width="400" height="400"></canvas>

        </div>
        <div class="col-sm-6">
            <canvas id="winLosePieChart" width="400" height="400"></canvas>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <canvas id="scoreAgainstTimeLineChart" width="400" height="400"></canvas>

        </div>
        <div class="col-sm-6">
            <canvas id="paidPieChart" width="400" height="400"></canvas>

        </div>
    </div>



{% endblock %}

{% block sidebar %}

    <a class="btn btn-primary btn-lg btn-block" href="{{ path('host_show', { 'id': player.id }) }}" role="button">Go to Host Stats</a>


    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-lg btn-block" href="{{ path('player_edit', { 'id': player.id }) }}" role="button">Edit</a>
    {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/vendor/chartjs/Chart.bundle.min.js') }}"></script>


    <script>
        new Chart(document.getElementById("winLoseNetBarChart"), {
            type: 'bar',
            data: {
                labels: ["Winnings", "Bought-In", "Net"],
                datasets: [{
                    label: '£',
                    data: [{{ player.playerStats.sumCashWon }}, {{ player.playerStats.sumBoughtIn }}, {{ player.playerStats.net }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById("winLosePieChart"), {
            type: 'pie',
            data: {
                labels: ["Won", "Not Won"],
                datasets: [{
                    data: [{{ player.playerStats.countGamesWon }}, {{ player.playerStats.countGamesPlayed - player.playerStats.countGamesWon }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });
        new Chart(document.getElementById("paidPieChart"), {
            type: 'pie',
            data: {
                labels: ["Paid", "Not Paid"],
                datasets: [{
                    data: [{{ player.playerStats.countGamesPaid }}, {{ player.playerStats.countGamesPlayed - player.playerStats.countGamesPaid }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        new Chart(document.getElementById("scoreAgainstTimeLineChart"), {
            type: 'line',
            data: {
                labels: ["1", "2", "3", "4", "5", "6"],
                labels: [{% for e in  player.playerStats.form %}"{{ loop.index }}", {% endfor %}],
                datasets: [{
                    label: "Score",
                    data: [{{ player.playerStats.form|join(', ') }}],
                    fill: false,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1,
                    lineTension: 0
                }],
                options: {}

            }
        });


    </script>

{% endblock %}