{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block main %}

    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.date) }}
    {{ form_row(edit_form.host) }}
    {{ form_row(edit_form.buyIn) }}
    {{ form_row(edit_form.spotifyPlaylistUri) }}
    {{ form_row(edit_form.isLeague) }}
    {{ form_row(edit_form.snacks) }}
    {{ form_row(edit_form.snacksProvider) }}
    {{ form_row(edit_form.snacks) }}
    {% do edit_form.results.setRendered %}

    <h2 class="">Results</h2>
    
    <div id="results-container" class="results" data-prototype="{{ form_widget(edit_form.results.vars.prototype)|e('html_attr') }}">
        {% for result in edit_form.results %}

            <div class="card my-3">
                <div class="card-header">
                    {#<button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>#}
                </div>
                <div class="card-body">
                    {{ form_widget(result) }}
                </div>
            </div>

        {% endfor %}
    </div>

        <input class="btn my-3 btn-primary btn-block btn-lg " type="submit" value="Save" />
    {{ form_end(edit_form) }}


{% endblock %}


{% block sidebar %}


    {% include 'admin/_delete_modal.html.twig' with {'entity' : 'game', 'form' : delete_form } %}

    <div class="my-2">
        <a class="btn btn-primary btn-lg btn-block"  href="{{ path('game_index') }}">Back to the list</a>
    </div>


{% endblock %}

 {% block javascripts %}
     {{ parent() }}


     <script>

         var $collectionHolder;

         // setup an "add a result" link
         var $addResultLink = $('<a href="#" class="btn btn-block btn-success btn-lg">Add a result</a>');

         jQuery(document).ready(function() {
             // Get the div that holds the collection of results
             $collectionHolder = $('#results-container');

             $collectionHolder.find('.card').each(function() {
                 addResultFormDeleteLink($(this));
             });

             // add the "add a result" anchor and li to the results ul
             $collectionHolder.append($addResultLink);

             // count the current form inputs we have (e.g. 2), use that as the new
             // index when inserting a new item (e.g. 2)
             $collectionHolder.data('index', $collectionHolder.find(':input').length);

             $addResultLink.on('click', function(e) {
                 // prevent the link from creating a "#" on the URL
                 e.preventDefault();

                 // add a new result form (see next code block)
                 addResultForm($collectionHolder, $addResultLink);
             });
         });


         function addResultForm($collectionHolder, $newLinkLi) {
             // Get the data-prototype explained earlier
             var prototype = $collectionHolder.data('prototype');

             // get the new index
             var index = $collectionHolder.data('index');

             var newForm = prototype;
             // You need this only if you didn't set 'label' => false in your results field in TaskType
             // Replace '__name__label__' in the prototype's HTML to
             // instead be a number based on how many items we have
             // newForm = newForm.replace(/__name__label__/g, index);

             // Replace '__name__' in the prototype's HTML to
             // instead be a number based on how many items we have
             newForm = newForm.replace(/__name__/g, index);

             // increase the index with one for the next item
             $collectionHolder.data('index', index + 1);

             // Display the form in the page in an li, before the "Add a result" link li
//             var $newFormBodyA = $('<div class="card-header"></div>').after($newFormBody);

             var $newFormLi = $('<div class="card-body"></div>').append(newForm);
             var $newCardForm = $('<div class="card my-3"></div>').append($newFormLi);

             $newLinkLi.before($newCardForm);

             addResultFormDeleteLink($newCardForm);
         }


         function addResultFormDeleteLink($resultForm) {
             var $removeFormA = $('<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
             $resultForm.find('.card-header').html($removeFormA);
             $removeFormA.on('click', function(e) {
                 // prevent the link from creating a "#" on the URL
                 e.preventDefault();
                 // remove the li for the result form
                 $resultForm.remove();
             });
         }
     </script>
 {% endblock %}