{% extends 'admin/index_base.html.twig' %}


{% block adminTitle %}Game list{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead >
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Buyin</th>
            <th>Noofplayers</th>
            <th>Host</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
                <td>{% if game.date %}{{ game.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ game.buyIn }}</td>
                <td>{{ game.noOfPlayers }}</td>
                <td>{{ game.host }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('game_show', { 'id': game.id }) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


    {% block sidebar %}

        <div>
            <a class="btn btn-success" href="{{ path('game_new') }}">Create a new game</a>
        </div>
        <div>
            <a class="btn btn-primary" href="{{ path('admin') }}">Back to admin</a>
        </div>
    {% endblock %}