{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block main %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.isOnline) }}
    <div class="d-none" id="online-options">
        {{ form_row(form.commission) }}
        {{ form_row(form.startTime) }}
        {{ form_row(form.fudgeFactor) }}
    </div>
    {{ form_row(form.host) }}
    {{ form_row(form.location) }}
    {{ form_row(form.host) }}
    {{ form_row(form.buyIn) }}
    {{ form_row(form.spotifyPlaylistUri) }}
    {{ form_row(form.isLeague) }}
    {% do form.snacks.setRendered %}
    {% do form.snacksProvider.setRendered %}
    {% do form.results.setRendered %}

    <input class="btn btn-success btn-lg btn-block" type="submit" value="Save" />

    {{ form_end(form) }}

{% endblock %}

{% block sidebar %}

    <a class="my-2 btn btn-primary btn-lg btn-block"  href="{{ path('admin_game_index') }}">Back to the list</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $("#game_isOnline").change(function() {
                if($(this).is(":checked")) {
                    $('#online-options').removeClass('d-none');
                    $('#game_host').val({{ constant('AppBundle\\Entity\\Player::POKERSTARS_ID') }});
                } else {
                    $('#online-options').addClass('d-none');
                }
            }).change();
        });
    </script>
{% endblock %}