{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block main %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.host) }}
    {{ form_row(form.buyIn) }}
    {{ form_row(form.spotifyPlaylistUri) }}
    {{ form_row(form.isLeague) }}
    {% do form.snacks.setRendered %}
    {% do form.snacksProvider.setRendered %}
    {% do form.results.setRendered %}

    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Save" />

    {{ form_end(form) }}

{% endblock %}

{% block sidebar %}

    <a class="my-2 btn btn-primary btn-lg btn-block"  href="{{ path('game_index') }}">Back to the list</a>

{% endblock %}