<h2 class="pb-3 pt-2">Results Table</h2>

<table class="table table-striped text-center table-responsive-md">
    <thead class="">
    <tr>
        <th>#</th>
        <th class="text-left">Player</th>
        <th>{{ displayTextAtBreakPoints('Points', 'P', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('Won', 'W', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('Bought-In', 'B', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('Net', 'N', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('# Rebuys', 'R', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('# Won', 'GW', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('# Played', 'GP', 'md') }}</th>
    </tr>
    </thead>
    {% for row in playerStats %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td class="text-left"><a href="{{ path('player_show', { 'id': row.player.id }) }}">{{ row.player.name }}</a></td>
            <td>{{ (isLeague is defined) ? row.sumLeaguePoints|number_format(0) : row.sumGeneralPoints|number_format(2) }}</td>
            <td>{{ row.sumCashWon|price }}</td>
            <td>{{ row.sumBoughtIn|price }}</td>
            <td>{{ row.net|price }}</td>
            <td>{{ row.sumRebuys }}</td>
            <td>{{ row.countGamesWon }}</td>
            <td>{{ row.countGamesPlayed }}</td>
        </tr>
    {% endfor %}
</table>