
{% if games is empty %}
    <p class="lead">No games played yet</p>
{% endif %}

    {% for game in games %}

        <h3 class="py-2">{{ game.date|date("D jS, M Y") }}</h3>
        <h4><a href="{{ path('host_show', { 'id': game.host.id }) }}">{{ game.host }}</a> <small class="text-muted">{{ game.host.location }}</small></h4>

        <div class="row py-3">
            <div class="col-sm-6">

                <div class="row my-3">

                    <div class="col">
                        <div class="text-muted h5">Buy in</div>
                        <span>{{ game.buyIn|price }}</span>
                    </div>

                    <div class="col">
                        <div class="text-muted h5">Pot</div>
                        <span>{{ game.pot|price }}</span>
                    </div>

                    <div class="col">
                        <div class="text-muted h5">League</div>
                        <span class="px-3 oi oi-{{ game.isLeague ? 'check' : 'x' }}"></span>

                        {#{% if game.snacksProvider %}
                            <span class="text-muted">Snacks</span>
                            <span>Snacks: {{ game.snacks }} by {{ game.snacksProvider }}</span>
                        {% endif %}#}
                    </div>
                </div>


            </div>
            <div class="col-sm-6">
                {% if false and game.spotifyPlaylistUri %}
                    <a href="https://open.spotify.com/uri/{{ game.spotifyPlaylistUri }}">Playlist</a>
                {% endif %}

                {% if display_spotify_iframe and game.spotifyPlaylistUri %}
                    <iframe src="https://open.spotify.com/embed?uri={{ game.spotifyPlaylistUri }}" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
                {% endif %}
            </div>

            {% if game.results is empty %}
                <div class="col">
                    <p class="lead">Game not played yet</p>
                </div>
            {% endif %}
        </div>
        {% if game.results is not empty %}

            <div class="row">
                <div class="col">
                    {% include ':partial:_results_table.html.twig' %}
                </div>
            </div>

        {% endif %}

        <hr class="my-5">

    {% endfor %}
