<h2>League Table</h2>
<table class="table table-striped text-center">
    <thead class="">
    <tr>
        <th>#</th>
        <th class="text-left">Player</th>
        <th>Points</th>
        <th>Winnings</th>
        <th>Bought In</th>
        <th>Net</th>
        <th>Rebuys</th>
    </tr>
    </thead>


    {% for row in leagueTable %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td class="text-left">{{ row.name }}</td>
            <td>{{ row.leaguePoints }}</td>
            <td>{{ row.winnings }}</td>
            <td>{{ row.boughtIn }}</td>
            <td>{{ row.net }}</td>
            <td>{{ row.noOfRebuys }}</td>

        </tr>
    {% endfor %}
</table>