<h2>League Table</h2>
<table class="table table-striped text-center">
    <thead class="">
    <tr>
        <th>#</th>
        <th class="text-left">Player</th>
        <th>Points</th>
        <th>Winnings</th>
        <th>Bought In</th>
        <th>Net</th>
        <th>Rebuys</th>
    </tr>
    </thead>


    {% for row in leagueTable %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td class="text-left">{{ row.name }}</td>
            <td>{{ row.leaguePoints|number_format(league_points_decimal_places) }}</td>
            <td>£{{ row.winnings|number_format(0) }}</td>
            <td>£{{ row.boughtIn|number_format(0) }}</td>
            <td>£{{ row.net|number_format(0) }}</td>
            <td>{{ row.noOfRebuys|number_format(0) }}</td>

        </tr>
    {% endfor %}
</table>