<h2>League Table</h2>
<table class="table table-striped text-center table-responsive-md">
    <caption>Last Updated: {{ lastUpdated|date }}</caption>
    <thead class="">
    <tr>
        <th>#</th>
        <th class="text-left">Player</th>
        <th>Points</th>
        <th>Winnings</th>
        <th>Bought In</th>
        <th>Net</th>
        <th>Rebuys</th>
    </tr>
    </thead>


    {% for row in leagueTable %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td class="text-left"><a href="{{ path('player_show', { 'id': row.playerId }) }}">{{ row.name }}</a></td>
            <td>{{ row.leaguePoints|number_format(league_points_decimal_places) }}</td>
            <td>{{ row.winnings|price }}</td>
            <td>{{ row.boughtIn|price }}</td>
            <td>{{ row.net|price }}</td>
            <td>{{ row.noOfRebuys }}</td>

        </tr>
    {% endfor %}
</table>