<table class="table text-center table-striped table-responsive-md">
    <thead class="">
    <tr>
        <th>#</th>
        <th class="text-left">Player</th>
        <th>Points</th>
        <th>Winnings</th>
        <th>Bought-In</th>
        <th>Net</th>
        <th># Rebuys</th>
        {% if game.hasAddOn %}
            <th>Add-On</th>
        {% endif %}
        {% if game.league %}
            <th>League Player</th>
        {% endif %}
    </tr>
    </thead>

    {# @var result \AppBundle\Entity\Result #}
    {% for result in game.results %}
        <tr>
            <td>{{ result.position }}</td>
            <td class="text-left"><a href="{{ path('player_show', { 'id': result.player.id }) }}">{{ result.player }}</a></td>
            <td>{{ result.leaguePoints|number_format(league_points_decimal_places) }}</td>
            <td>{{ result.winnings|price }}</td>
            <td>{{ result.boughtIn|price }}</td>
            <td>{{ result.net|price }}</td>
            <td>{{ result.noOfRebuys }}</td>
            {% if game.hasAddOn %}
                <td>{{ result.addOn|price }}</td>
            {% endif %}
            {% if game.league %}
                <td>
                    {% if result.player.leaguePlayer %}
                        <span class="oi oi-check"></span>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}

</table>
