<table class="table text-center table-striped table-responsive-md">
    <thead class="">
    <tr>
        <th>#</th>
        <th class="text-left">Player</th>
        <th>{{ displayTextAtBreakPoints('Points', 'P', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('Winnings', 'W', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('Bought-In', 'B', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('Net', 'N', 'md') }}</th>
        <th>{{ displayTextAtBreakPoints('# Rebuys', 'R', 'md') }}</th>
        {% if game.hasAddOn %}
            <th>{{ displayTextAtBreakPoints('Add-On', 'A', 'md') }}</th>
        {% endif %}
        {% if game.hasTopUp %}
            <th>{{ displayTextAtBreakPoints('Top-up', 'A', 'md') }}</th>
        {% endif %}
        {% if game.league %}
            <th>{{ displayTextAtBreakPoints('League Player', 'LP', 'md') }}</th>
        {% endif %}
    </tr>
    </thead>

    {# @var result \AppBundle\Entity\Result #}
    {% for result in game.results %}
        <tr class="{% if player is defined and player == result.player %}table-success{% endif %}">
            <td>{{ result.position }}</td>
            <td class="text-left"><a href="{{ path('player_show', { 'id': result.player.id }) }}">{{ result.player }}</a></td>
            <td>{{ game.league ? result.leaguePoints : result.generalPoints|number_format(league_points_decimal_places) }}</td>
            <td>{{ result.winnings|price }}</td>
            <td>{{ result.boughtIn|price }}</td>
            <td>{{ result.net|price }}</td>
            <td>{{ result.noOfRebuys }}</td>
            {% if game.hasAddOn %}
                <td>{{ result.addOn|price }}</td>
            {% endif %}
            {% if game.hasTopUp %}
                <td>{{ result.topUp|price }}</td>
            {% endif %}
            {% if game.league %}
                <td>
                    {% if result.player.leaguePlayer %}
                        <span class="oi oi-check"></span>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}

</table>
