{% extends 'base.html.twig' %}

{% block body %}
    <h1>Result creation</h1>

    {{ form_start(form) }}


    <ul class="results" data-prototype="{{ form_widget(form.results.vars.prototype)|e('html_attr') }}">
        {% for result in form.results %}
            <li>{{ form_widget(result) }}</li>
        {% endfor %}
    </ul>

        <input type="submit" value="Update" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('game_edit', {'id' : game.id }) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

