{% extends 'base.html.twig' %}

{% block title %}{{ host.name }} - Host Stats{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-9">

        <h2 class="my-4">Stats</h2>

        <div class="row">
            <div class="col-6">
                <p class="lead">Games Played</p>
                <h1 class="display-3">{{ hostStats.countGamesPlayed }}</h1>
            </div>

            <div class="col-6">
                <p class="lead">Amount won</p>
                <h1 class="display-3 {{ hostStats.sumCashWon > 0 ? 'text-success' }}">{{ hostStats.sumCashWon|price }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="lead">No of rebuys</p>
                <h1 class="display-3">{{ hostStats.sumRebuys }}</h1>
            </div>

        </div>

        {% if hostStats.maxCountWinsPlayer %}

        <div class="row">
            <div class="col-6">
                <p class="lead">Most Wins</p>
                <h1 class="display-3">{{ hostStats.maxCountWinsPlayer }} ({{ hostStats.maxCountWins }})</h1>
            </div>

        </div>

        {% endif %}

        <div class="row">
            <hr class="my-4">
        </div>

        <div class="row">
            <div class="col-6">
                <p class="lead">Host wins</p>
                <h1 class="display-3">{{ hostStats.countHostWins }}</h1>
            </div>

            <div class="col-6">
                <p class="lead">Fortress</p>
                <h1 class="display-3">{{ hostStats.fortressRatio|percent }}</h1>
            </div>
        </div>

        <div class="row">
            <hr class="my-4">
        </div>

    </div>
    <div class="col-sm-3">
        <img src="{{ host.profilePicturePublicUrl ?: 'http://via.placeholder.com/350x350' }}" class="img-fluid rounded">
    </div>
</div>

    <h2>Games</h2>

    {% include 'partial/_game.html.twig' %}

{% endblock %}

{% block sidebar %}

    <a class="btn btn-primary btn-lg btn-block" href="{{ path('player_show', { 'id': host.id }) }}" role="button">Go to Player Stats</a>


{% endblock %}
